<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reproducer</title>
</head>
<body>
<h1>Reproducer <a href="https://github.com/symfony/symfony/issues/29291">29291</a></h1>
{{ form(form) }}

<p>Submit this form</p>
</body>
</html>