{% extends "base.html.twig" %}

{% block body %}
    <p>Form submitted :)</p>

    <p>Now click the form button on the toolbar.</p>

    <br>

    <p>Things that will resolve the error:</p>

    <ul>
        <li>Removing the "extra" data entry in the controller</li>
        <li>Removing the "data" option in ReproducerType->collection</li>
    </ul>
{% endblock %}